button.controls-info {
	position: absolute;
	width: 1.75em;
	height: 1.75em;
	padding: 0;
	top: 0.5em;
	left: 0.5em;

	background-color: #0008;
}

dialog.controls-info {
	position: fixed;
	width: max-content;
	margin: 0;

	text-align: left;

	border-radius: 8px;
	border: 1px solid transparent;

	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #0008;
}

dialog.controls-info[open]::backdrop {
	background-color: transparent;
}

dialog.controls-info td {
	text-align: center;
}

dialog.controls-info td:first-child {
	text-align: right;
}
