.startMenu {
  background-image: url(/menu/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  place-content: center;
  display: grid;
}

.startMenu h1 {
  display: grid;
  place-content: center;
  img {
    height: 172px
  }
}

.startMenu .inner {
  display: grid;
  place-content: center;
}

.startMenu button {
  font-size: 24px;
  background-image: url(/textures/pixel/bedrock.png);
  background-size: 25%;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;
  font-family: "Silkscreen-Bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.startMenu h2 {
  font-size: 1.5rem;
  margin: 1.5rem auto auto auto;
}

.startMenu ol {
  display: grid;
  justify-content: center;
  align-items: center;
}

.startMenu li {
  font-size: 1rem;
}

.buttons {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
