.startMenu {
  background-image: url(/menu/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  place-content: center;
  display: grid;
  background-position: bottom;
}

.startMenu h1 {
  display: grid;
  place-content: center;
  margin: 0;
  img {
    height: 20svh;
  }
}

.startMenu .inner {
  display: grid;
  place-content: center;
  grid-template: min-content min-content 1fr / 1fr;
}

.startMenu button {
  font-size: 3svh;
  background-image: url(/textures/pixel/bedrock.png);
  background-size: 25%;
  border: 0.5svh solid black;
  box-shadow: 0.5svh 0.5svh 0 black;
  font-family: "Silkscreen-Bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.startMenu .wrap {
  background-image: url(/textures/pixel/bedrock.png);
  background-size: 25%;
  border: 0.5svh solid black;
  box-shadow: 0.5svh 0.5svh 0 black;
  padding: 0.5svh 1svh;
  border-radius: 0;
  display: grid;
  margin-top: 2svh;
  border-radius: 1svh;
}

.startMenu .wrap h2 {
  font-size: 3svh;
  margin: 0 auto 1svh auto;
}

.startMenu .list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 0.3svh 2svh;
  justify-content: center;
  align-items: center;
}

.startMenu .list-item {
  font-size: 2svh;
  color: white;
  
}

.buttons {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2svh;
}
