:root {
  --game-block-size: 32px;
}

body {
  overflow: hidden;
}

.Game {
  height: 100%;
  width: 100%;
  display: grid;
  background-position: center;
  background-size: cover;
  .board {
    user-select: none;
    position: relative;
    margin: auto;
    display: grid;
    grid-template: var(--game-block-size) / var(--game-block-size);
    background-image: url(/textures/pixel/bedrock.png);
    background-repeat: repeat;
    background-size: 32px;
  }
  .background {
    position: fixed;
    height: 100svh;
    width: 100svw;
    background-position: center;
    background-size: cover;
  }
}
