:root {
  --game-block-size: 32px;
}

body {
  overflow: hidden;
}

.Game {
  pointer-events: none;
  user-select: none;
  position: relative;
  margin: auto;
  display: grid;
  grid-template: var(--game-block-size) / var(--game-block-size)
}

