:root {
  --game-block-size: 32px;
}

body {
  overflow: hidden;
}

.Game {
  user-select: none;
  position: relative;
  margin: auto;
  display: grid;
  grid-template: var(--game-block-size) / var(--game-block-size);
  background-image: url(./textures/pixel/bedrock.png);
  background-repeat: repeat;
  background-color: greenyellow;
  background-size: 32px;
}
